@import (reference) './index.less';

@font-face {
  font-family: 'font-regular';
  src: url('../fonts/CIRCULARSTD-BOOK.OTF') format('opentype');
}

@font-face {
  font-family: 'font-medium';
  src: url('../fonts/CIRCULARSTD-MEDIUM.OTF') format('opentype');
}

body {
  .kilo;
  font-family: 'font-regular';
}

a {
  color: #fff;
}

strong {
  font-weight: 800;
}