// wave gradients
@wave-right-color: #3fe4c8;
@wave-left-color: #4ab6ff;

// blocks
@black-text-color: #19181c;
@light-blue-text-color: #3fd9e4;
@light-grey-text-color: #6c80a4;

// section underlining
@underline-color: #0098ff;

// borders
@hard-grey-color: #707070;

// backgrounds and blocks
@soft-grey-color: #fbfcff;
@soft-blue-color: #00b9ff;
@soft-green-color: #16d97e;
@soft-pink-color: #ff00b2;
