.header {
  .pad-tb-10;

  &__title {
    .tera;
    text-align: center;
    font-family: 'font-medium';
  }
  &__underline {
    width: 30px;
    margin-top: 4px;
    height: 1px;
    border: 0;
    border-top: 2px solid @underline-color;
  }
}

.list {
  .row-gap-1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__item {
    &:before {
      .push-right-2;
      content: '';
      display: inline-block;
      height: 10px;
      width: 10px;
      border-radius: 3px;
    }
  }

  @media @tablet {
    grid-template-columns: repeat(5, auto);
  }
  @media @laptop {
    grid-template-columns: repeat(4, auto);
  }
  @media @desktop {
    grid-template-columns: repeat(5, auto);
  }
}
